In [1]:
import os
import sys

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('Varun').getOrCreate()

In [8]:
spark

In [4]:
import random
import datetime
import csv

categories = ["Electronics", "Furniture", "Clothing", "Appliances", "Books"]
products = {
    "Electronics": ["Laptop", "Smartphone", "Tablet", "Camera"],
    "Furniture": ["Chair", "Table", "Sofa", "Bed"],
    "Clothing": ["Shirt", "Jeans", "Jacket", "Sweater"],
    "Appliances": ["Blender", "Refrigerator", "Microwave", "Toaster"],
    "Books": ["Fiction", "Non-Fiction", "Biography", "Comics"],
}

rows = []
for i in range(1, 1001):
    category = random.choice(categories)
    product = random.choice(products[category])
    price = round(random.uniform(10, 1000), 2)
    quantity = random.randint(1, 10)
    order_date = datetime.datetime.now() - datetime.timedelta(days=random.randint(0, 365))
    rows.append([i, product, category, price, quantity, order_date.strftime("%Y-%m-%d")])

# Saving to CSV
with open("ecommerce_data.csv", "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerow(["OrderID", "Product", "Category", "Price", "Quantity", "OrderDate"])
    writer.writerows(rows)

print("E-Commerce dataset saved as 'ecommerce_data.csv'")

E-Commerce dataset saved as 'ecommerce_data.csv'

In [9]:
df=spark.read.csv('ecommerce_data.csv',header=True,inferSchema=True)

In [6]:
df.show()

+-------+----------+-----------+------+--------+----------+
|OrderID|   Product|   Category| Price|Quantity| OrderDate|
+-------+----------+-----------+------+--------+----------+
|      1|     Jeans|   Clothing|817.51|       4|2023-12-25|
|      2|    Jacket|   Clothing|240.93|       5|2024-09-28|
|      3|Smartphone|Electronics|989.39|       2|2024-05-04|
|      4|Smartphone|Electronics|708.13|       7|2024-11-10|
|      5|     Chair|  Furniture|907.95|       5|2024-04-03|
|      6|    Laptop|Electronics|375.26|       7|2024-11-04|
|      7|     Chair|  Furniture|102.13|      10|2024-10-26|
|      8| Microwave| Appliances|881.43|       9|2024-12-22|
|      9|    Comics|      Books|672.55|      10|2024-04-22|
|     10| Microwave| Appliances|675.32|       6|2024-02-15|
|     11|   Blender| Appliances|277.57|       3|2024-02-26|
|     12|     Chair|  Furniture|281.11|       6|2024-11-11|
|     13|       Bed|  Furniture|278.03|       7|2024-12-16|
|     14|   Sweater|   Clothing|152.02|       8|2024-08-23|
|     15|     Chair|  Furniture| 49.04|      10|2024-08-10|
|     16|    Tablet|Electronics|572.18|       1|2024-06-08|
|     17|    Comics|      Books|162.51|       9|2024-07-01|
|     18|   Blender| Appliances|139.24|       5|2024-09-02|
|     19|   Sweater|   Clothing|819.33|      10|2024-01-29|
|     20|     Table|  Furniture|537.56|       5|2024-03-17|
+-------+----------+-----------+------+--------+----------+
only showing top 20 rows

In [7]:
df.head()

Row(OrderID=1, Product='Jeans', Category='Clothing', Price=817.51, Quantity=4, OrderDate=datetime.date(2023, 12, 25))

In [8]:
df.collect()

[Row(OrderID=1, Product='Jeans', Category='Clothing', Price=817.51, Quantity=4, OrderDate=datetime.date(2023, 12, 25)),
 Row(OrderID=2, Product='Jacket', Category='Clothing', Price=240.93, Quantity=5, OrderDate=datetime.date(2024, 9, 28)),
 Row(OrderID=3, Product='Smartphone', Category='Electronics', Price=989.39, Quantity=2, OrderDate=datetime.date(2024, 5, 4)),
 Row(OrderID=4, Product='Smartphone', Category='Electronics', Price=708.13, Quantity=7, OrderDate=datetime.date(2024, 11, 10)),
 Row(OrderID=5, Product='Chair', Category='Furniture', Price=907.95, Quantity=5, OrderDate=datetime.date(2024, 4, 3)),
 Row(OrderID=6, Product='Laptop', Category='Electronics', Price=375.26, Quantity=7, OrderDate=datetime.date(2024, 11, 4)),
 Row(OrderID=7, Product='Chair', Category='Furniture', Price=102.13, Quantity=10, OrderDate=datetime.date(2024, 10, 26)),
 Row(OrderID=8, Product='Microwave', Category='Appliances', Price=881.43, Quantity=9, OrderDate=datetime.date(2024, 12, 22)),
 Row(OrderID=9, Product='Comics', Category='Books', Price=672.55, Quantity=10, OrderDate=datetime.date(2024, 4, 22)),
 Row(OrderID=10, Product='Microwave', Category='Appliances', Price=675.32, Quantity=6, OrderDate=datetime.date(2024, 2, 15)),
 Row(OrderID=11, Product='Blender', Category='Appliances', Price=277.57, Quantity=3, OrderDate=datetime.date(2024, 2, 26)),
 Row(OrderID=12, Product='Chair', Category='Furniture', Price=281.11, Quantity=6, OrderDate=datetime.date(2024, 11, 11)),
 Row(OrderID=13, Product='Bed', Category='Furniture', Price=278.03, Quantity=7, OrderDate=datetime.date(2024, 12, 16)),
 Row(OrderID=14, Product='Sweater', Category='Clothing', Price=152.02, Quantity=8, OrderDate=datetime.date(2024, 8, 23)),
 Row(OrderID=15, Product='Chair', Category='Furniture', Price=49.04, Quantity=10, OrderDate=datetime.date(2024, 8, 10)),
 Row(OrderID=16, Product='Tablet', Category='Electronics', Price=572.18, Quantity=1, OrderDate=datetime.date(2024, 6, 8)),
 Row(OrderID=17, Product='Comics', Category='Books', Price=162.51, Quantity=9, OrderDate=datetime.date(2024, 7, 1)),
 Row(OrderID=18, Product='Blender', Category='Appliances', Price=139.24, Quantity=5, OrderDate=datetime.date(2024, 9, 2)),
 Row(OrderID=19, Product='Sweater', Category='Clothing', Price=819.33, Quantity=10, OrderDate=datetime.date(2024, 1, 29)),
 Row(OrderID=20, Product='Table', Category='Furniture', Price=537.56, Quantity=5, OrderDate=datetime.date(2024, 3, 17)),
 Row(OrderID=21, Product='Jacket', Category='Clothing', Price=991.49, Quantity=3, OrderDate=datetime.date(2024, 12, 11)),
 Row(OrderID=22, Product='Camera', Category='Electronics', Price=959.62, Quantity=4, OrderDate=datetime.date(2024, 9, 15)),
 Row(OrderID=23, Product='Microwave', Category='Appliances', Price=632.77, Quantity=10, OrderDate=datetime.date(2024, 8, 10)),
 Row(OrderID=24, Product='Non-Fiction', Category='Books', Price=390.21, Quantity=1, OrderDate=datetime.date(2024, 11, 1)),
 Row(OrderID=25, Product='Smartphone', Category='Electronics', Price=835.62, Quantity=7, OrderDate=datetime.date(2024, 11, 25)),
 Row(OrderID=26, Product='Toaster', Category='Appliances', Price=730.48, Quantity=6, OrderDate=datetime.date(2024, 9, 2)),
 Row(OrderID=27, Product='Fiction', Category='Books', Price=668.7, Quantity=5, OrderDate=datetime.date(2024, 8, 11)),
 Row(OrderID=28, Product='Tablet', Category='Electronics', Price=172.32, Quantity=2, OrderDate=datetime.date(2024, 12, 9)),
 Row(OrderID=29, Product='Fiction', Category='Books', Price=330.64, Quantity=2, OrderDate=datetime.date(2024, 8, 28)),
 Row(OrderID=30, Product='Laptop', Category='Electronics', Price=520.88, Quantity=4, OrderDate=datetime.date(2024, 11, 27)),
 Row(OrderID=31, Product='Table', Category='Furniture', Price=733.85, Quantity=10, OrderDate=datetime.date(2024, 10, 8)),
 Row(OrderID=32, Product='Sweater', Category='Clothing', Price=777.03, Quantity=3, OrderDate=datetime.date(2024, 4, 21)),
 Row(OrderID=33, Product='Smartphone', Category='Electronics', Price=292.74, Quantity=3, OrderDate=datetime.date(2024, 7, 5)),
 Row(OrderID=34, Product='Biography', Category='Books', Price=167.67, Quantity=8, OrderDate=datetime.date(2024, 3, 11)),
 Row(OrderID=35, Product='Jacket', Category='Clothing', Price=281.65, Quantity=9, OrderDate=datetime.date(2024, 11, 9)),
 Row(OrderID=36, Product='Biography', Category='Books', Price=489.25, Quantity=10, OrderDate=datetime.date(2024, 6, 4)),
 Row(OrderID=37, Product='Comics', Category='Books', Price=885.58, Quantity=7, OrderDate=datetime.date(2024, 6, 22)),
 Row(OrderID=38, Product='Non-Fiction', Category='Books', Price=887.82, Quantity=4, OrderDate=datetime.date(2024, 6, 27)),
 Row(OrderID=39, Product='Table', Category='Furniture', Price=386.13, Quantity=1, OrderDate=datetime.date(2024, 10, 12)),
 Row(OrderID=40, Product='Microwave', Category='Appliances', Price=564.9, Quantity=9, OrderDate=datetime.date(2024, 5, 28)),
 Row(OrderID=41, Product='Bed', Category='Furniture', Price=967.34, Quantity=1, OrderDate=datetime.date(2024, 10, 28)),
 Row(OrderID=42, Product='Microwave', Category='Appliances', Price=481.87, Quantity=8, OrderDate=datetime.date(2024, 1, 3)),
 Row(OrderID=43, Product='Bed', Category='Furniture', Price=613.29, Quantity=5, OrderDate=datetime.date(2024, 5, 8)),
 Row(OrderID=44, Product='Laptop', Category='Electronics', Price=649.4, Quantity=5, OrderDate=datetime.date(2024, 7, 14)),
 Row(OrderID=45, Product='Sofa', Category='Furniture', Price=793.63, Quantity=9, OrderDate=datetime.date(2024, 8, 9)),
 Row(OrderID=46, Product='Shirt', Category='Clothing', Price=420.52, Quantity=2, OrderDate=datetime.date(2024, 8, 28)),
 Row(OrderID=47, Product='Smartphone', Category='Electronics', Price=563.96, Quantity=1, OrderDate=datetime.date(2024, 8, 28)),
 Row(OrderID=48, Product='Jeans', Category='Clothing', Price=386.74, Quantity=7, OrderDate=datetime.date(2024, 10, 19)),
 Row(OrderID=49, Product='Fiction', Category='Books', Price=604.22, Quantity=2, OrderDate=datetime.date(2024, 7, 12)),
 Row(OrderID=50, Product='Sofa', Category='Furniture', Price=887.24, Quantity=1, OrderDate=datetime.date(2024, 11, 22)),
 Row(OrderID=51, Product='Sofa', Category='Furniture', Price=449.92, Quantity=9, OrderDate=datetime.date(2024, 10, 14)),
 Row(OrderID=52, Product='Refrigerator', Category='Appliances', Price=23.92, Quantity=3, OrderDate=datetime.date(2024, 5, 27)),
 Row(OrderID=53, Product='Bed', Category='Furniture', Price=398.62, Quantity=10, OrderDate=datetime.date(2024, 11, 6)),
 Row(OrderID=54, Product='Jacket', Category='Clothing', Price=687.73, Quantity=7, OrderDate=datetime.date(2024, 8, 29)),
 Row(OrderID=55, Product='Smartphone', Category='Electronics', Price=61.25, Quantity=9, OrderDate=datetime.date(2023, 12, 27)),
 Row(OrderID=56, Product='Smartphone', Category='Electronics', Price=181.89, Quantity=6, OrderDate=datetime.date(2024, 5, 30)),
 Row(OrderID=57, Product='Camera', Category='Electronics', Price=542.44, Quantity=9, OrderDate=datetime.date(2024, 1, 9)),
 Row(OrderID=58, Product='Biography', Category='Books', Price=708.66, Quantity=3, OrderDate=datetime.date(2024, 5, 8)),
 Row(OrderID=59, Product='Microwave', Category='Appliances', Price=461.69, Quantity=8, OrderDate=datetime.date(2024, 8, 27)),
 Row(OrderID=60, Product='Laptop', Category='Electronics', Price=427.95, Quantity=5, OrderDate=datetime.date(2024, 5, 29)),
 Row(OrderID=61, Product='Laptop', Category='Electronics', Price=243.64, Quantity=9, OrderDate=datetime.date(2024, 1, 15)),
 Row(OrderID=62, Product='Fiction', Category='Books', Price=639.09, Quantity=4, OrderDate=datetime.date(2024, 8, 16)),
 Row(OrderID=63, Product='Jacket', Category='Clothing', Price=395.31, Quantity=9, OrderDate=datetime.date(2024, 9, 8)),
 Row(OrderID=64, Product='Sofa', Category='Furniture', Price=81.94, Quantity=6, OrderDate=datetime.date(2024, 3, 18)),
 Row(OrderID=65, Product='Comics', Category='Books', Price=882.96, Quantity=8, OrderDate=datetime.date(2024, 9, 3)),
 Row(OrderID=66, Product='Blender', Category='Appliances', Price=27.83, Quantity=9, OrderDate=datetime.date(2024, 3, 29)),
 Row(OrderID=67, Product='Comics', Category='Books', Price=948.11, Quantity=3, OrderDate=datetime.date(2024, 1, 1)),
 Row(OrderID=68, Product='Tablet', Category='Electronics', Price=233.32, Quantity=8, OrderDate=datetime.date(2024, 7, 27)),
 Row(OrderID=69, Product='Table', Category='Furniture', Price=350.58, Quantity=9, OrderDate=datetime.date(2024, 3, 8)),
 Row(OrderID=70, Product='Sofa', Category='Furniture', Price=86.67, Quantity=2, OrderDate=datetime.date(2024, 6, 12)),
 Row(OrderID=71, Product='Non-Fiction', Category='Books', Price=735.43, Quantity=7, OrderDate=datetime.date(2024, 12, 2)),
 Row(OrderID=72, Product='Comics', Category='Books', Price=265.84, Quantity=2, OrderDate=datetime.date(2024, 1, 20)),
 Row(OrderID=73, Product='Fiction', Category='Books', Price=205.22, Quantity=9, OrderDate=datetime.date(2024, 2, 29)),
 Row(OrderID=74, Product='Fiction', Category='Books', Price=37.25, Quantity=4, OrderDate=datetime.date(2024, 2, 27)),
 Row(OrderID=75, Product='Refrigerator', Category='Appliances', Price=873.23, Quantity=2, OrderDate=datetime.date(2024, 8, 14)),
 Row(OrderID=76, Product='Bed', Category='Furniture', Price=845.0, Quantity=5, OrderDate=datetime.date(2024, 9, 26)),
 Row(OrderID=77, Product='Sofa', Category='Furniture', Price=211.55, Quantity=2, OrderDate=datetime.date(2024, 12, 1)),
 Row(OrderID=78, Product='Toaster', Category='Appliances', Price=995.74, Quantity=9, OrderDate=datetime.date(2024, 11, 14)),
 Row(OrderID=79, Product='Laptop', Category='Electronics', Price=254.32, Quantity=2, OrderDate=datetime.date(2024, 6, 30)),
 Row(OrderID=80, Product='Non-Fiction', Category='Books', Price=563.45, Quantity=2, OrderDate=datetime.date(2024, 10, 17)),
 Row(OrderID=81, Product='Bed', Category='Furniture', Price=584.19, Quantity=7, OrderDate=datetime.date(2024, 5, 2)),
 Row(OrderID=82, Product='Bed', Category='Furniture', Price=243.67, Quantity=2, OrderDate=datetime.date(2024, 12, 5)),
 Row(OrderID=83, Product='Fiction', Category='Books', Price=949.49, Quantity=6, OrderDate=datetime.date(2024, 11, 18)),
 Row(OrderID=84, Product='Jacket', Category='Clothing', Price=469.26, Quantity=10, OrderDate=datetime.date(2024, 12, 2)),
 Row(OrderID=85, Product='Blender', Category='Appliances', Price=829.25, Quantity=3, OrderDate=datetime.date(2024, 3, 16)),
 Row(OrderID=86, Product='Comics', Category='Books', Price=387.83, Quantity=9, OrderDate=datetime.date(2024, 11, 27)),
 Row(OrderID=87, Product='Fiction', Category='Books', Price=963.43, Quantity=4, OrderDate=datetime.date(2024, 7, 26)),
 Row(OrderID=88, Product='Bed', Category='Furniture', Price=27.69, Quantity=2, OrderDate=datetime.date(2024, 11, 28)),
 Row(OrderID=89, Product='Chair', Category='Furniture', Price=790.26, Quantity=3, OrderDate=datetime.date(2024, 11, 26)),
 Row(OrderID=90, Product='Tablet', Category='Electronics', Price=299.83, Quantity=2, OrderDate=datetime.date(2024, 6, 23)),
 Row(OrderID=91, Product='Laptop', Category='Electronics', Price=223.47, Quantity=7, OrderDate=datetime.date(2024, 1, 25)),
 Row(OrderID=92, Product='Sofa', Category='Furniture', Price=730.13, Quantity=6, OrderDate=datetime.date(2024, 5, 17)),
 Row(OrderID=93, Product='Toaster', Category='Appliances', Price=449.87, Quantity=7, OrderDate=datetime.date(2024, 2, 8)),
 Row(OrderID=94, Product='Blender', Category='Appliances', Price=956.89, Quantity=4, OrderDate=datetime.date(2024, 10, 7)),
 Row(OrderID=95, Product='Jeans', Category='Clothing', Price=213.99, Quantity=6, OrderDate=datetime.date(2024, 4, 19)),
 Row(OrderID=96, Product='Biography', Category='Books', Price=615.34, Quantity=8, OrderDate=datetime.date(2024, 11, 24)),
 Row(OrderID=97, Product='Bed', Category='Furniture', Price=918.58, Quantity=4, OrderDate=datetime.date(2024, 3, 21)),
 Row(OrderID=98, Product='Non-Fiction', Category='Books', Price=715.45, Quantity=9, OrderDate=datetime.date(2024, 11, 7)),
 Row(OrderID=99, Product='Non-Fiction', Category='Books', Price=609.73, Quantity=3, OrderDate=datetime.date(2024, 5, 20)),
 Row(OrderID=100, Product='Jeans', Category='Clothing', Price=212.53, Quantity=9, OrderDate=datetime.date(2024, 10, 26)),
 Row(OrderID=101, Product='Table', Category='Furniture', Price=561.85, Quantity=5, OrderDate=datetime.date(2024, 3, 6)),
 Row(OrderID=102, Product='Jeans', Category='Clothing', Price=372.72, Quantity=1, OrderDate=datetime.date(2024, 2, 6)),
 Row(OrderID=103, Product='Tablet', Category='Electronics', Price=671.36, Quantity=8, OrderDate=datetime.date(2024, 11, 10)),
 Row(OrderID=104, Product='Toaster', Category='Appliances', Price=538.15, Quantity=8, OrderDate=datetime.date(2024, 2, 20)),
 Row(OrderID=105, Product='Laptop', Category='Electronics', Price=769.93, Quantity=9, OrderDate=datetime.date(2024, 3, 3)),
 Row(OrderID=106, Product='Toaster', Category='Appliances', Price=380.81, Quantity=8, OrderDate=datetime.date(2024, 8, 26)),
 Row(OrderID=107, Product='Toaster', Category='Appliances', Price=203.57, Quantity=2, OrderDate=datetime.date(2024, 2, 8)),
 Row(OrderID=108, Product='Chair', Category='Furniture', Price=954.05, Quantity=6, OrderDate=datetime.date(2024, 5, 8)),
 Row(OrderID=109, Product='Comics', Category='Books', Price=69.15, Quantity=6, OrderDate=datetime.date(2024, 11, 28)),
 Row(OrderID=110, Product='Camera', Category='Electronics', Price=543.58, Quantity=5, OrderDate=datetime.date(2024, 1, 20)),
 Row(OrderID=111, Product='Chair', Category='Furniture', Price=804.75, Quantity=8, OrderDate=datetime.date(2024, 2, 10)),
 Row(OrderID=112, Product='Microwave', Category='Appliances', Price=804.43, Quantity=2, OrderDate=datetime.date(2024, 7, 31)),
 Row(OrderID=113, Product='Microwave', Category='Appliances', Price=725.39, Quantity=9, OrderDate=datetime.date(2024, 1, 15)),
 Row(OrderID=114, Product='Table', Category='Furniture', Price=483.82, Quantity=10, OrderDate=datetime.date(2024, 3, 31)),
 Row(OrderID=115, Product='Biography', Category='Books', Price=150.88, Quantity=7, OrderDate=datetime.date(2024, 11, 23)),
 Row(OrderID=116, Product='Blender', Category='Appliances', Price=839.46, Quantity=10, OrderDate=datetime.date(2024, 10, 10)),
 Row(OrderID=117, Product='Refrigerator', Category='Appliances', Price=717.68, Quantity=2, OrderDate=datetime.date(2024, 5, 9)),
 Row(OrderID=118, Product='Laptop', Category='Electronics', Price=465.62, Quantity=8, OrderDate=datetime.date(2024, 8, 16)),
 Row(OrderID=119, Product='Laptop', Category='Electronics', Price=282.84, Quantity=2, OrderDate=datetime.date(2024, 11, 17)),
 Row(OrderID=120, Product='Table', Category='Furniture', Price=156.85, Quantity=7, OrderDate=datetime.date(2024, 8, 16)),
 Row(OrderID=121, Product='Shirt', Category='Clothing', Price=751.97, Quantity=1, OrderDate=datetime.date(2024, 11, 27)),
 Row(OrderID=122, Product='Microwave', Category='Appliances', Price=929.39, Quantity=4, OrderDate=datetime.date(2024, 2, 26)),
 Row(OrderID=123, Product='Bed', Category='Furniture', Price=723.66, Quantity=1, OrderDate=datetime.date(2024, 2, 19)),
 Row(OrderID=124, Product='Biography', Category='Books', Price=842.59, Quantity=4, OrderDate=datetime.date(2024, 12, 14)),
 Row(OrderID=125, Product='Sweater', Category='Clothing', Price=503.41, Quantity=7, OrderDate=datetime.date(2024, 1, 21)),
 Row(OrderID=126, Product='Microwave', Category='Appliances', Price=538.44, Quantity=1, OrderDate=datetime.date(2024, 10, 30)),
 Row(OrderID=127, Product='Tablet', Category='Electronics', Price=662.82, Quantity=4, OrderDate=datetime.date(2024, 8, 30)),
 Row(OrderID=128, Product='Smartphone', Category='Electronics', Price=223.59, Quantity=6, OrderDate=datetime.date(2024, 6, 7)),
 Row(OrderID=129, Product='Toaster', Category='Appliances', Price=987.91, Quantity=8, OrderDate=datetime.date(2024, 1, 13)),
 Row(OrderID=130, Product='Bed', Category='Furniture', Price=41.63, Quantity=7, OrderDate=datetime.date(2024, 2, 6)),
 Row(OrderID=131, Product='Laptop', Category='Electronics', Price=117.99, Quantity=2, OrderDate=datetime.date(2024, 2, 17)),
 Row(OrderID=132, Product='Jacket', Category='Clothing', Price=494.22, Quantity=9, OrderDate=datetime.date(2024, 5, 26)),
 Row(OrderID=133, Product='Blender', Category='Appliances', Price=589.55, Quantity=10, OrderDate=datetime.date(2024, 9, 7)),
 Row(OrderID=134, Product='Sofa', Category='Furniture', Price=934.64, Quantity=5, OrderDate=datetime.date(2024, 6, 2)),
 Row(OrderID=135, Product='Smartphone', Category='Electronics', Price=514.67, Quantity=8, OrderDate=datetime.date(2024, 2, 28)),
 Row(OrderID=136, Product='Refrigerator', Category='Appliances', Price=550.19, Quantity=7, OrderDate=datetime.date(2024, 4, 5)),
 Row(OrderID=137, Product='Laptop', Category='Electronics', Price=59.11, Quantity=6, OrderDate=datetime.date(2024, 8, 18)),
 Row(OrderID=138, Product='Sweater', Category='Clothing', Price=164.13, Quantity=1, OrderDate=datetime.date(2024, 12, 8)),
 Row(OrderID=139, Product='Jacket', Category='Clothing', Price=295.69, Quantity=10, OrderDate=datetime.date(2024, 11, 24)),
 Row(OrderID=140, Product='Laptop', Category='Electronics', Price=277.68, Quantity=9, OrderDate=datetime.date(2024, 3, 2)),
 Row(OrderID=141, Product='Table', Category='Furniture', Price=417.53, Quantity=7, OrderDate=datetime.date(2024, 11, 24)),
 Row(OrderID=142, Product='Comics', Category='Books', Price=369.3, Quantity=10, OrderDate=datetime.date(2024, 11, 27)),
 Row(OrderID=143, Product='Table', Category='Furniture', Price=829.2, Quantity=4, OrderDate=datetime.date(2024, 9, 23)),
 Row(OrderID=144, Product='Non-Fiction', Category='Books', Price=826.11, Quantity=9, OrderDate=datetime.date(2024, 3, 26)),
 Row(OrderID=145, Product='Microwave', Category='Appliances', Price=215.18, Quantity=7, OrderDate=datetime.date(2024, 3, 23)),
 Row(OrderID=146, Product='Shirt', Category='Clothing', Price=929.58, Quantity=4, OrderDate=datetime.date(2024, 10, 7)),
 Row(OrderID=147, Product='Laptop', Category='Electronics', Price=977.3, Quantity=3, OrderDate=datetime.date(2024, 4, 25)),
 Row(OrderID=148, Product='Tablet', Category='Electronics', Price=376.6, Quantity=2, OrderDate=datetime.date(2024, 10, 27)),
 Row(OrderID=149, Product='Non-Fiction', Category='Books', Price=492.57, Quantity=3, OrderDate=datetime.date(2024, 1, 8)),
 Row(OrderID=150, Product='Laptop', Category='Electronics', Price=200.91, Quantity=1, OrderDate=datetime.date(2024, 4, 7)),
 Row(OrderID=151, Product='Refrigerator', Category='Appliances', Price=14.92, Quantity=2, OrderDate=datetime.date(2024, 4, 9)),
 Row(OrderID=152, Product='Toaster', Category='Appliances', Price=686.28, Quantity=7, OrderDate=datetime.date(2024, 4, 5)),
 Row(OrderID=153, Product='Chair', Category='Furniture', Price=958.16, Quantity=1, OrderDate=datetime.date(2024, 9, 23)),
 Row(OrderID=154, Product='Tablet', Category='Electronics', Price=29.55, Quantity=8, OrderDate=datetime.date(2024, 8, 9)),
 Row(OrderID=155, Product='Refrigerator', Category='Appliances', Price=337.88, Quantity=8, OrderDate=datetime.date(2024, 11, 23)),
 Row(OrderID=156, Product='Shirt', Category='Clothing', Price=89.33, Quantity=8, OrderDate=datetime.date(2024, 7, 26)),
 Row(OrderID=157, Product='Sofa', Category='Furniture', Price=718.67, Quantity=6, OrderDate=datetime.date(2023, 12, 29)),
 Row(OrderID=158, Product='Smartphone', Category='Electronics', Price=378.21, Quantity=9, OrderDate=datetime.date(2024, 11, 18)),
 Row(OrderID=159, Product='Camera', Category='Electronics', Price=822.32, Quantity=6, OrderDate=datetime.date(2024, 2, 18)),
 Row(OrderID=160, Product='Sweater', Category='Clothing', Price=884.65, Quantity=8, OrderDate=datetime.date(2024, 6, 5)),
 Row(OrderID=161, Product='Jacket', Category='Clothing', Price=52.4, Quantity=1, OrderDate=datetime.date(2024, 11, 29)),
 Row(OrderID=162, Product='Camera', Category='Electronics', Price=371.35, Quantity=2, OrderDate=datetime.date(2024, 11, 24)),

In [9]:
df.take(5)

[Row(OrderID=1, Product='Laptop', Category='Electronics', Price=569.87, Quantity=3, OrderDate=datetime.date(2024, 2, 16)),
 Row(OrderID=2, Product='Smartphone', Category='Electronics', Price=825.38, Quantity=7, OrderDate=datetime.date(2024, 9, 10)),
 Row(OrderID=3, Product='Jacket', Category='Clothing', Price=97.82, Quantity=1, OrderDate=datetime.date(2024, 8, 21)),
 Row(OrderID=4, Product='Refrigerator', Category='Appliances', Price=798.19, Quantity=10, OrderDate=datetime.date(2024, 2, 3)),
 Row(OrderID=5, Product='Tablet', Category='Electronics', Price=684.55, Quantity=7, OrderDate=datetime.date(2024, 1, 1))]

In [10]:
df.printSchema()

root
 |-- OrderID: integer (nullable = true)
 |-- Product: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Price: double (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- OrderDate: date (nullable = true)

In [9]:
#all orders with a price greater than 100.
df[df['Price']>100].show()

+-------+----------+-----------+------+--------+----------+
|OrderID|   Product|   Category| Price|Quantity| OrderDate|
+-------+----------+-----------+------+--------+----------+
|      1|     Jeans|   Clothing|817.51|       4|2023-12-25|
|      2|    Jacket|   Clothing|240.93|       5|2024-09-28|
|      3|Smartphone|Electronics|989.39|       2|2024-05-04|
|      4|Smartphone|Electronics|708.13|       7|2024-11-10|
|      5|     Chair|  Furniture|907.95|       5|2024-04-03|
|      6|    Laptop|Electronics|375.26|       7|2024-11-04|
|      7|     Chair|  Furniture|102.13|      10|2024-10-26|
|      8| Microwave| Appliances|881.43|       9|2024-12-22|
|      9|    Comics|      Books|672.55|      10|2024-04-22|
|     10| Microwave| Appliances|675.32|       6|2024-02-15|
|     11|   Blender| Appliances|277.57|       3|2024-02-26|
|     12|     Chair|  Furniture|281.11|       6|2024-11-11|
|     13|       Bed|  Furniture|278.03|       7|2024-12-16|
|     14|   Sweater|   Clothing|152.02|       8|2024-08-23|
|     16|    Tablet|Electronics|572.18|       1|2024-06-08|
|     17|    Comics|      Books|162.51|       9|2024-07-01|
|     18|   Blender| Appliances|139.24|       5|2024-09-02|
|     19|   Sweater|   Clothing|819.33|      10|2024-01-29|
|     20|     Table|  Furniture|537.56|       5|2024-03-17|
|     21|    Jacket|   Clothing|991.49|       3|2024-12-11|
+-------+----------+-----------+------+--------+----------+
only showing top 20 rows

In [10]:
#sorting
df.orderBy('Price',ascending=False).show()

+-------+------------+-----------+------+--------+----------+
|OrderID|     Product|   Category| Price|Quantity| OrderDate|
+-------+------------+-----------+------+--------+----------+
|    499|  Smartphone|Electronics|997.76|       3|2024-05-07|
|    874|Refrigerator| Appliances|996.87|       8|2024-11-09|
|     78|     Toaster| Appliances|995.74|       9|2024-11-14|
|    994|      Tablet|Electronics|993.48|       7|2024-10-05|
|    529|      Jacket|   Clothing|992.11|       6|2024-10-16|
|    622|      Laptop|Electronics|991.85|       5|2024-11-16|
|     21|      Jacket|   Clothing|991.49|       3|2024-12-11|
|    662| Non-Fiction|      Books| 991.4|       7|2024-10-09|
|    738|      Camera|Electronics|989.52|       5|2024-11-05|
|      3|  Smartphone|Electronics|989.39|       2|2024-05-04|
|    129|     Toaster| Appliances|987.91|       8|2024-01-13|
|    222|       Chair|  Furniture| 987.8|       1|2024-08-07|
|    686|   Biography|      Books|987.14|       6|2024-02-20|
|    523|       Shirt|   Clothing|986.96|       7|2024-08-27|
|    538|      Tablet|Electronics|986.01|       5|2024-06-17|
|    862|   Biography|      Books|983.58|       5|2023-12-25|
|    324|      Tablet|Electronics|982.52|       4|2024-06-28|
|    380|       Jeans|   Clothing| 982.0|       2|2024-07-14|
|    554|       Chair|  Furniture|981.32|      10|2023-12-27|
|    646|      Jacket|   Clothing|980.99|       7|2024-08-13|
+-------+------------+-----------+------+--------+----------+
only showing top 20 rows

In [14]:
#total sales
from pyspark.sql.functions import round
df=df.withColumn('Total',round(df['Price']*df['Quantity'],2))

In [15]:
df.show()

+-------+----------+-----------+------+--------+----------+-------+
|OrderID|   Product|   Category| Price|Quantity| OrderDate|  Total|
+-------+----------+-----------+------+--------+----------+-------+
|      1|     Jeans|   Clothing|817.51|       4|2023-12-25|3270.04|
|      2|    Jacket|   Clothing|240.93|       5|2024-09-28|1204.65|
|      3|Smartphone|Electronics|989.39|       2|2024-05-04|1978.78|
|      4|Smartphone|Electronics|708.13|       7|2024-11-10|4956.91|
|      5|     Chair|  Furniture|907.95|       5|2024-04-03|4539.75|
|      6|    Laptop|Electronics|375.26|       7|2024-11-04|2626.82|
|      7|     Chair|  Furniture|102.13|      10|2024-10-26| 1021.3|
|      8| Microwave| Appliances|881.43|       9|2024-12-22|7932.87|
|      9|    Comics|      Books|672.55|      10|2024-04-22| 6725.5|
|     10| Microwave| Appliances|675.32|       6|2024-02-15|4051.92|
|     11|   Blender| Appliances|277.57|       3|2024-02-26| 832.71|
|     12|     Chair|  Furniture|281.11|       6|2024-11-11|1686.66|
|     13|       Bed|  Furniture|278.03|       7|2024-12-16|1946.21|
|     14|   Sweater|   Clothing|152.02|       8|2024-08-23|1216.16|
|     15|     Chair|  Furniture| 49.04|      10|2024-08-10|  490.4|
|     16|    Tablet|Electronics|572.18|       1|2024-06-08| 572.18|
|     17|    Comics|      Books|162.51|       9|2024-07-01|1462.59|
|     18|   Blender| Appliances|139.24|       5|2024-09-02|  696.2|
|     19|   Sweater|   Clothing|819.33|      10|2024-01-29| 8193.3|
|     20|     Table|  Furniture|537.56|       5|2024-03-17| 2687.8|
+-------+----------+-----------+------+--------+----------+-------+
only showing top 20 rows

In [10]:
#average order price
import pyspark.sql.functions  as F
df.agg(F.avg('Price')).show()

+-----------------+
|       avg(Price)|
+-----------------+
|514.5838100000004|
+-----------------+

In [20]:
#total revenue
df.agg(round(F.sum('Total'),2)).show()

+--------------------+
|round(sum(Total), 2)|
+--------------------+
|          2926225.15|
+--------------------+

In [21]:
#count of each category sold
df.groupBy('Category').agg(F.count('Quantity')).show()

+-----------+---------------+
|   Category|count(Quantity)|
+-----------+---------------+
|Electronics|            197|
|   Clothing|            204|
|      Books|            203|
|  Furniture|            203|
| Appliances|            193|
+-----------+---------------+

In [31]:
#Extracting year, month, and day from a orderdate and count occurrences for each month.
from pyspark.sql.functions import year,month,day
df=df.withColumn('Year',year('OrderDate')).withColumn('Month',month('OrderDate')).withColumn('Day',day('OrderDate'))

In [32]:
df.show()

+-------+----------+-----------+------+--------+----------+-------+----+-----+---+
|OrderID|   Product|   Category| Price|Quantity| OrderDate|  Total|Year|Month|Day|
+-------+----------+-----------+------+--------+----------+-------+----+-----+---+
|      1|     Jeans|   Clothing|817.51|       4|2023-12-25|3270.04|2023|   12| 25|
|      2|    Jacket|   Clothing|240.93|       5|2024-09-28|1204.65|2024|    9| 28|
|      3|Smartphone|Electronics|989.39|       2|2024-05-04|1978.78|2024|    5|  4|
|      4|Smartphone|Electronics|708.13|       7|2024-11-10|4956.91|2024|   11| 10|
|      5|     Chair|  Furniture|907.95|       5|2024-04-03|4539.75|2024|    4|  3|
|      6|    Laptop|Electronics|375.26|       7|2024-11-04|2626.82|2024|   11|  4|
|      7|     Chair|  Furniture|102.13|      10|2024-10-26| 1021.3|2024|   10| 26|
|      8| Microwave| Appliances|881.43|       9|2024-12-22|7932.87|2024|   12| 22|
|      9|    Comics|      Books|672.55|      10|2024-04-22| 6725.5|2024|    4| 22|
|     10| Microwave| Appliances|675.32|       6|2024-02-15|4051.92|2024|    2| 15|
|     11|   Blender| Appliances|277.57|       3|2024-02-26| 832.71|2024|    2| 26|
|     12|     Chair|  Furniture|281.11|       6|2024-11-11|1686.66|2024|   11| 11|
|     13|       Bed|  Furniture|278.03|       7|2024-12-16|1946.21|2024|   12| 16|
|     14|   Sweater|   Clothing|152.02|       8|2024-08-23|1216.16|2024|    8| 23|
|     15|     Chair|  Furniture| 49.04|      10|2024-08-10|  490.4|2024|    8| 10|
|     16|    Tablet|Electronics|572.18|       1|2024-06-08| 572.18|2024|    6|  8|
|     17|    Comics|      Books|162.51|       9|2024-07-01|1462.59|2024|    7|  1|
|     18|   Blender| Appliances|139.24|       5|2024-09-02|  696.2|2024|    9|  2|
|     19|   Sweater|   Clothing|819.33|      10|2024-01-29| 8193.3|2024|    1| 29|
|     20|     Table|  Furniture|537.56|       5|2024-03-17| 2687.8|2024|    3| 17|
+-------+----------+-----------+------+--------+----------+-------+----+-----+---+
only showing top 20 rows

In [30]:
#counting occurrences for each month.
df.groupby('month').agg(F.count('Month')).show()

+-----+------------+
|month|count(Month)|
+-----+------------+
|   12|          81|
|    1|          79|
|    6|          84|
|    3|          83|
|    5|          76|
|    9|          86|
|    4|          78|
|    8|          83|
|    7|          84|
|   10|          86|
|   11|         102|
|    2|          78|
+-----+------------+

In [38]:
#For each category, rank the products by their sales revenue.
from pyspark.sql import Window
wind=Window.partitionBy('Category').orderBy(F.col('Total').desc())

In [39]:
df.withColumn('Rank',F.rank().over(wind)).show()

+-------+------------+----------+------+--------+----------+-------+----+-----+---+----+
|OrderID|     Product|  Category| Price|Quantity| OrderDate|  Total|Year|Month|Day|Rank|
+-------+------------+----------+------+--------+----------+-------+----+-----+---+----+
|    974|Refrigerator|Appliances|972.35|      10|2024-06-19| 9723.5|2024|    6| 19|   1|
|    780|Refrigerator|Appliances|947.03|      10|2024-07-26| 9470.3|2024|    7| 26|   2|
|    823|Refrigerator|Appliances|909.97|      10|2024-12-06| 9099.7|2024|   12|  6|   3|
|     78|     Toaster|Appliances|995.74|       9|2024-11-14|8961.66|2024|   11| 14|   4|
|    451|Refrigerator|Appliances|877.33|      10|2024-05-12| 8773.3|2024|    5| 12|   5|
|    116|     Blender|Appliances|839.46|      10|2024-10-10| 8394.6|2024|   10| 10|   6|
|    929|Refrigerator|Appliances|817.99|      10|2024-05-09| 8179.9|2024|    5|  9|   7|
|    390|   Microwave|Appliances|887.48|       9|2024-08-06|7987.32|2024|    8|  6|   8|
|    874|Refrigerator|Appliances|996.87|       8|2024-11-09|7974.96|2024|   11|  9|   9|
|      8|   Microwave|Appliances|881.43|       9|2024-12-22|7932.87|2024|   12| 22|  10|
|    129|     Toaster|Appliances|987.91|       8|2024-01-13|7903.28|2024|    1| 13|  11|
|    633|     Blender|Appliances| 979.3|       8|2024-07-28| 7834.4|2024|    7| 28|  12|
|    193|     Blender|Appliances|770.34|      10|2024-10-14| 7703.4|2024|   10| 14|  13|
|    437|Refrigerator|Appliances|946.58|       8|2024-11-10|7572.64|2024|   11| 10|  14|
|    535|   Microwave|Appliances|751.62|      10|2024-07-22| 7516.2|2024|    7| 22|  15|
|    305|     Toaster|Appliances|922.04|       8|2024-11-28|7376.32|2024|   11| 28|  16|
|    553|     Toaster|Appliances|897.26|       8|2024-05-12|7178.08|2024|    5| 12|  17|
|    757|Refrigerator|Appliances|895.69|       8|2024-12-18|7165.52|2024|   12| 18|  18|
|    739|     Toaster|Appliances|862.53|       8|2024-11-11|6900.24|2024|   11| 11|  19|
|    462|Refrigerator|Appliances| 821.4|       8|2024-05-12| 6571.2|2024|    5| 12|  20|
+-------+------------+----------+------+--------+----------+-------+----+-----+---+----+
only showing top 20 rows

In [44]:
#drop row with na if any
df.na.drop(how='any',subset=['Product','Total']).show()

+-------+----------+-----------+------+--------+----------+-------+----+-----+---+
|OrderID|   Product|   Category| Price|Quantity| OrderDate|  Total|Year|Month|Day|
+-------+----------+-----------+------+--------+----------+-------+----+-----+---+
|      1|     Jeans|   Clothing|817.51|       4|2023-12-25|3270.04|2023|   12| 25|
|      2|    Jacket|   Clothing|240.93|       5|2024-09-28|1204.65|2024|    9| 28|
|      3|Smartphone|Electronics|989.39|       2|2024-05-04|1978.78|2024|    5|  4|
|      4|Smartphone|Electronics|708.13|       7|2024-11-10|4956.91|2024|   11| 10|
|      5|     Chair|  Furniture|907.95|       5|2024-04-03|4539.75|2024|    4|  3|
|      6|    Laptop|Electronics|375.26|       7|2024-11-04|2626.82|2024|   11|  4|
|      7|     Chair|  Furniture|102.13|      10|2024-10-26| 1021.3|2024|   10| 26|
|      8| Microwave| Appliances|881.43|       9|2024-12-22|7932.87|2024|   12| 22|
|      9|    Comics|      Books|672.55|      10|2024-04-22| 6725.5|2024|    4| 22|
|     10| Microwave| Appliances|675.32|       6|2024-02-15|4051.92|2024|    2| 15|
|     11|   Blender| Appliances|277.57|       3|2024-02-26| 832.71|2024|    2| 26|
|     12|     Chair|  Furniture|281.11|       6|2024-11-11|1686.66|2024|   11| 11|
|     13|       Bed|  Furniture|278.03|       7|2024-12-16|1946.21|2024|   12| 16|
|     14|   Sweater|   Clothing|152.02|       8|2024-08-23|1216.16|2024|    8| 23|
|     15|     Chair|  Furniture| 49.04|      10|2024-08-10|  490.4|2024|    8| 10|
|     16|    Tablet|Electronics|572.18|       1|2024-06-08| 572.18|2024|    6|  8|
|     17|    Comics|      Books|162.51|       9|2024-07-01|1462.59|2024|    7|  1|
|     18|   Blender| Appliances|139.24|       5|2024-09-02|  696.2|2024|    9|  2|
|     19|   Sweater|   Clothing|819.33|      10|2024-01-29| 8193.3|2024|    1| 29|
|     20|     Table|  Furniture|537.56|       5|2024-03-17| 2687.8|2024|    3| 17|
+-------+----------+-----------+------+--------+----------+-------+----+-----+---+
only showing top 20 rows

In [43]:
df.show()

+-------+----------+-----------+------+--------+----------+-------+----+-----+---+
|OrderID|   Product|   Category| Price|Quantity| OrderDate|  Total|Year|Month|Day|
+-------+----------+-----------+------+--------+----------+-------+----+-----+---+
|      1|     Jeans|   Clothing|817.51|       4|2023-12-25|3270.04|2023|   12| 25|
|      2|    Jacket|   Clothing|240.93|       5|2024-09-28|1204.65|2024|    9| 28|
|      3|Smartphone|Electronics|989.39|       2|2024-05-04|1978.78|2024|    5|  4|
|      4|Smartphone|Electronics|708.13|       7|2024-11-10|4956.91|2024|   11| 10|
|      5|     Chair|  Furniture|907.95|       5|2024-04-03|4539.75|2024|    4|  3|
|      6|    Laptop|Electronics|375.26|       7|2024-11-04|2626.82|2024|   11|  4|
|      7|     Chair|  Furniture|102.13|      10|2024-10-26| 1021.3|2024|   10| 26|
|      8| Microwave| Appliances|881.43|       9|2024-12-22|7932.87|2024|   12| 22|
|      9|    Comics|      Books|672.55|      10|2024-04-22| 6725.5|2024|    4| 22|
|     10| Microwave| Appliances|675.32|       6|2024-02-15|4051.92|2024|    2| 15|
|     11|   Blender| Appliances|277.57|       3|2024-02-26| 832.71|2024|    2| 26|
|     12|     Chair|  Furniture|281.11|       6|2024-11-11|1686.66|2024|   11| 11|
|     13|       Bed|  Furniture|278.03|       7|2024-12-16|1946.21|2024|   12| 16|
|     14|   Sweater|   Clothing|152.02|       8|2024-08-23|1216.16|2024|    8| 23|
|     15|     Chair|  Furniture| 49.04|      10|2024-08-10|  490.4|2024|    8| 10|
|     16|    Tablet|Electronics|572.18|       1|2024-06-08| 572.18|2024|    6|  8|
|     17|    Comics|      Books|162.51|       9|2024-07-01|1462.59|2024|    7|  1|
|     18|   Blender| Appliances|139.24|       5|2024-09-02|  696.2|2024|    9|  2|
|     19|   Sweater|   Clothing|819.33|      10|2024-01-29| 8193.3|2024|    1| 29|
|     20|     Table|  Furniture|537.56|       5|2024-03-17| 2687.8|2024|    3| 17|
+-------+----------+-----------+------+--------+----------+-------+----+-----+---+
only showing top 20 rows

In [48]:
#Creating pivot table showing monthly sales for each product.
df.groupby('Month').pivot('Product').sum('Total').show()

+-----+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|Month|               Bed|         Biography|           Blender|            Camera|             Chair|            Comics|           Fiction|            Jacket|             Jeans|            Laptop|         Microwave|       Non-Fiction|      Refrigerator|             Shirt|        Smartphone|              Sofa|           Sweater|             Table|            Tablet|           Toaster|
+-----+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|   12|           9050.35|11143.619999999999|              NULL|            8739.2|          17438.98|          17870.29|            7199.9|          13346.74|          21081.23|          17543.18|          16081.67|          20498.23|          17687.64|15562.900000000001|           4581.93| 9797.630000000001|22042.670000000002|              NULL|            5127.2|            7886.2|
|    1| 4372.719999999999|          13471.08|            4629.9| 8328.480000000001|           9666.71|           8508.08|           3699.42|           8544.35|19876.429999999997|           5462.05|11055.470000000001|26374.150000000005|          18688.64|              NULL|            9223.7|           5694.42|          14032.46|           7465.76|              NULL|          25412.32|
|    6| 8393.009999999998|           14117.1|20918.070000000003|          16439.78|          24362.58|          14199.76|           6203.71|          10014.68| 9428.509999999998|          10291.23|              NULL|          11376.69|20396.510000000002|            3953.0|          20048.23|          17991.67|          12896.32|          10941.53|26337.300000000003|           8063.76|
|    3| 7969.150000000001|           9043.86|           5867.81|          11366.47|           6450.42|              NULL|           9675.69|           1749.45|          19782.12|          19743.07|12281.210000000001|          11097.41|            5023.8|13534.769999999999|           4198.17|            491.64|          28014.27|          18587.78|          20868.55|12478.650000000001|
|    5|18413.909999999996| 9701.960000000001|           5676.34|          16615.42|14369.099999999999|            374.71|            6007.3|            9528.8|           3651.12|           3486.13|            5084.1| 7793.669999999999|27094.309999999998|16261.369999999999|           10640.9|11512.499999999998|          14056.72|           4873.43|           9951.33|           21914.0|
|    9|           21602.9|          27544.59|           10597.3|          10064.56|          37189.64|          19715.94|            4936.9|13470.779999999999|          15403.04|             904.3|           7568.18|12463.099999999997|          10228.94|10500.720000000001|           5900.06|          10224.09|           9841.01|18973.670000000002|            2983.2|           7776.42|
|    4|10646.210000000001|           8404.73|           12447.5|           5736.95|          20301.11|          21778.24|20420.920000000002|20066.649999999998|          18660.49|           3132.81|           1069.94|           6226.83|           5864.98|          22490.29|4571.7699999999995|           8680.58| 4408.610000000001|           2821.65|          12574.64|          12071.21|
|    8|12961.220000000001|          10691.02|           2904.56|16126.310000000001|          15397.08| 5644.889999999999| 8459.119999999999|12639.480000000001|           3004.04|           17034.8|          23291.96|           9109.05|           9328.82|          13474.57|            2060.2|          25313.04|           8012.26|11059.189999999999|22154.469999999998|            6168.0|
|    7|23905.770000000004|          12841.82|          16929.12|          15665.16|           9486.32|           17120.4|12836.720000000001|15416.029999999999|          11642.44|          17273.52|          21357.48| 7010.290000000001|          28005.61|          18069.85|           4394.35|14379.759999999998|15824.350000000002|              NULL| 9795.279999999999|10155.560000000001|
|   10|           8338.12|          24006.82|25949.099999999995|           14542.0|            9339.4|              NULL|15266.089999999998|          17572.89|           6702.76|          11145.92| 6930.330000000001|          15795.16|           3872.09|23582.870000000003| 7334.460000000001|          19766.96|           3504.03|          33685.72|          14247.06|              NULL|
|   11|15949.830000000002|           5978.88|18163.899999999998|          23816.93|11496.530000000002|36430.159999999996|          12394.54|12333.579999999998|          11390.93|11835.130000000001|             409.2|23115.019999999997|          30663.02|            751.97|          22274.64| 8580.380000000001|           4949.28|16125.010000000002|           15021.2|24938.909999999996|
|    2|1763.1399999999999|           14539.7|           4011.31|          12519.77|          20532.86|           8803.15|           2038.15|           4489.21|           8433.76|          15562.88|11905.939999999999| 7492.049999999999|          17896.96|20551.589999999997|          10772.34|          17236.99|              NULL|           8880.75|          11700.27|           12893.6|
+-----+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+

# User Activity Log

In [51]:
activities = ["Login", "Logout", "Purchase", "ViewProduct", "AddToCart", "Search"]
rows = []
for i in range(1, 10001): 
    user_id = random.randint(1, 1000)
    activity = random.choice(activities)
    timestamp = datetime.datetime.now() - datetime.timedelta(seconds=random.randint(0, 86400 * 30))
    rows.append([user_id, activity, timestamp.strftime("%Y-%m-%d %H:%M:%S")])

with open("user_activity_log.csv", "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerow(["UserID", "Activity", "Timestamp"])
    writer.writerows(rows)

print("User activity log saved as 'user_activity_log.csv'")

User activity log saved as 'user_activity_log.csv'

In [16]:
df2=spark.read.csv('user_activity_log.csv',header=True,inferSchema=True)

In [5]:
df2.show()

+------+-----------+-------------------+
|UserID|   Activity|          Timestamp|
+------+-----------+-------------------+
|   485|ViewProduct|2024-12-13 12:49:38|
|   626|ViewProduct|2024-12-06 18:06:12|
|   807|     Search|2024-12-20 15:30:21|
|    50|     Search|2024-12-12 18:49:43|
|   370|ViewProduct|2024-12-08 11:37:11|
|   936|   Purchase|2024-11-25 10:16:43|
|    18|ViewProduct|2024-11-24 21:37:40|
|    17|ViewProduct|2024-12-02 16:17:16|
|   388|  AddToCart|2024-11-28 03:40:03|
|   179|     Logout|2024-12-03 09:08:41|
|   328|      Login|2024-11-29 04:35:56|
|   528|   Purchase|2024-12-19 00:12:44|
|   276|      Login|2024-12-02 04:00:53|
|   526|      Login|2024-11-24 04:28:10|
|   375|     Logout|2024-11-24 18:25:11|
|   213|   Purchase|2024-12-02 07:57:25|
|   609|  AddToCart|2024-12-01 16:55:30|
|   456|  AddToCart|2024-12-08 16:54:21|
|   830|     Logout|2024-12-13 02:16:10|
|   635|ViewProduct|2024-12-03 15:05:27|
+------+-----------+-------------------+
only showing top 20 rows

In [12]:
#the total number of activities logged.
df2.select(F.count('Activity')).show()

+---------------+
|count(Activity)|
+---------------+
|          10000|
+---------------+

In [61]:
df2.count()

10000

In [138]:
#Count the number of occurrences for each activity.
df2.groupBy('Activity').agg(F.count(df2.Activity)).show()

+-----------+---------------+
|   Activity|count(Activity)|
+-----------+---------------+
|   Purchase|           1611|
|ViewProduct|           1677|
|     Logout|           1706|
|      Login|           1646|
|  AddToCart|           1619|
|     Search|           1741|
+-----------+---------------+

In [139]:
#specifically for login
df2[df2.Activity=='Login'].count()

1646

In [140]:
#the most frequently performed activity.
df2.orderBy('Timestamp',ascending=False).limit(1).show()

+------+--------+-------------------+
|UserID|Activity|          Timestamp|
+------+--------+-------------------+
|   611|  Logout|2024-12-23 11:15:25|
+------+--------+-------------------+

In [13]:
#the user who performed the highest number of activities.
x=df2.groupBy('UserID').agg(F.count(df2.Activity).alias('allactivity'))
x.orderBy('allactivity',ascending=False ).limit(1).show()

+------+-----------+
|UserID|allactivity|
+------+-----------+
|   635|         20|
+------+-----------+

In [150]:
#unique users
df2.select('UserID').distinct().count()

1000

In [129]:
#Identify users who performed more than 18 activities.
x[x['allactivity']>18].show()

+------+-----------+
|UserID|allactivity|
+------+-----------+
|    76|         19|
|   269|         19|
|   635|         20|
|   779|         20|
|   940|         20|
|   965|         20|
|   716|         19|
|    18|         19|
+------+-----------+

In [20]:
#the most active hour of the day based on timestamps.
from pyspark.sql.functions import hour
df2=df2.withColumn('Hour',hour('Timestamp'))
df2.show()

+------+-----------+-------------------+----+
|UserID|   Activity|          Timestamp|Hour|
+------+-----------+-------------------+----+
|   485|ViewProduct|2024-12-13 12:49:38|  12|
|   626|ViewProduct|2024-12-06 18:06:12|  18|
|   807|     Search|2024-12-20 15:30:21|  15|
|    50|     Search|2024-12-12 18:49:43|  18|
|   370|ViewProduct|2024-12-08 11:37:11|  11|
|   936|   Purchase|2024-11-25 10:16:43|  10|
|    18|ViewProduct|2024-11-24 21:37:40|  21|
|    17|ViewProduct|2024-12-02 16:17:16|  16|
|   388|  AddToCart|2024-11-28 03:40:03|   3|
|   179|     Logout|2024-12-03 09:08:41|   9|
|   328|      Login|2024-11-29 04:35:56|   4|
|   528|   Purchase|2024-12-19 00:12:44|   0|
|   276|      Login|2024-12-02 04:00:53|   4|
|   526|      Login|2024-11-24 04:28:10|   4|
|   375|     Logout|2024-11-24 18:25:11|  18|
|   213|   Purchase|2024-12-02 07:57:25|   7|
|   609|  AddToCart|2024-12-01 16:55:30|  16|
|   456|  AddToCart|2024-12-08 16:54:21|  16|
|   830|     Logout|2024-12-13 02:16:10|   2|
|   635|ViewProduct|2024-12-03 15:05:27|  15|
+------+-----------+-------------------+----+
only showing top 20 rows

In [25]:
y=df2.groupBy('Hour').agg(F.count('Activity'))
y.orderBy('count(Activity)',ascending=False).limit(1).show()

+----+---------------+
|Hour|count(Activity)|
+----+---------------+
|   0|            457|
+----+---------------+